{% extends "MLCoreBundle:Default:index.html.twig" %}
{% block body %}
    <section class="row">

        <h3 class="col-lg-12" id="commandetitrebillet">Commander vos billets</h3>

        <div class="container">
            <div class="well col-lg-12">
                <p>{{ form(form) }}</p>
            </div>
        </div>
    </section>
{% endblock %}

